body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f5;
}

header {
    background: white;
    padding: 1rem 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingAndFooter img{
    width: 8rem;
    height: auto;
}

#navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

#navLinks a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.2s;
}

#navLinks a:hover {
    color: #2c7b35;
    transition: 0.2s;
}

.mainHeading {
    width: 50%;
}

#recyclingContamination {
    text-align: center;
}

#mainHeadingText {
    margin-left: 1.1rem;
    text-align: center;
}

.paragraphs {
    text-align: left;
    margin-left: 1rem;
}